@use 'styles/breakpoints' as styles;

.new-releases {
  width: 100%;

  &__title {
    margin-bottom: var(--space-lg);
  }

  @media (max-width: styles.$bp-sm) {
    &__title {
      margin-bottom: var(--space-md);
    }
  }
}
