<div class="controls-bar">
  <div class="controls-bar__root-container">
    <app-control-button icon="shuffle" [active]="isShuffle()" (click)="toggleShuffle()" />

    <app-control-button icon="previousTrack" (click)="previousTrack()" />
    <app-control-button
      [icon]="iconPlay()"
      [active]="isPlay()"
      [size]="30"
      (click)="toggleMusicPlay()"
    />
    <app-control-button icon="nextTrack" (click)="nextTrack()" />

    <app-control-button
      [icon]="iconRepeat()"
      (click)="toggleRepeat()"
      [active]="repeatMode() !== 'none'"
    />
  </div>

  <app-timestep [trackDuration]="trackDuration()" />
</div>
