@use 'styles/index' as styles;

.sign-up-modal {
  @include styles.modal-container;

  &__close {
    @include styles.modal-close-position;
  }

  &__header {
    @include styles.modal-header;
  }

  &__title {
    @include styles.modal-title;
  }

  &__heading {
    @include styles.modal-heading;
  }

  &__subtitle {
    @include styles.modal-subtitle;
  }

  &__form {
    @include styles.modal-form;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  &__label {
    font-size: var(--text-label);
    font-weight: var(--weight-bold);
    color: var(--color-outline);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__password-wrapper {
    position: relative;

    svg.lock-icon {
      pointer-events: none;

      position: absolute;
      z-index: 1;
      top: 50%;
      left: var(--space-md);
      transform: translateY(-50%);

      color: var(--color-outline);
    }
  }

  &__error-text {
    @include styles.modal-error-text;
  }

  &__footer p {
    @include styles.modal-footer;
  }

  &__switch {
    @include styles.modal-switch-text;
  }

  &__link {
    @include styles.modal-footer-link;
  }
}
