@use 'styles/breakpoints' as bp;

.track-page {
  display: flex;
  min-height: 100vh;

  a {
    text-decoration: underline;
    text-decoration-color: rgb(255 255 255 / 50%);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

    &:hover {
      text-decoration-color: var(--color-primary);
    }
  }

  &__info {
    flex: 0 0 50%;

    &-cover {
      position: relative;
      max-width: 500px;
      margin-bottom: var(--space-md);

      &-vinyl {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: -30px;
        transform: rotate(20deg);

        width: 280px;
        height: 280px;
        border-radius: 50%;

        object-fit: cover;
        filter: drop-shadow(0 12px 20px rgb(0 0 0 / 25%));
      }

      &-image {
        position: relative;
        z-index: 2;

        width: 300px;
        height: 300px;
        border-radius: 16px;

        object-fit: cover;
      }

      &-interface {
        position: absolute;
        z-index: 4;
        bottom: 6%;
        left: 4%;
      }
    }

    &-description {
      display: flex;
      justify-content: space-between;

      &-track {
        position: relative;
        display: flex;
        gap: var(--space-md);
        align-items: center;

        &-time {
          display: flex;
          align-items: center;
        }

        > * + * {
          position: relative;

          &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: -6px;
            transform: translate(-50%, -50%);

            width: 4px;
            height: 4px;
            border-radius: 50%;

            background-color: currentcolor;
          }
        }
      }
    }

    &-details {
      display: flex;
      gap: var(--space-md);
      margin-bottom: var(--space-md);
    }

    &-wave-form {
      width: 100%;
      height: 200px;
    }
  }

  &__queue {
    flex: 0 0 50%;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--space-sm);

      &-button {
        cursor: pointer;

        padding: 0;
        border: none;

        font: inherit;
        color: var(--color-primary);

        background: none;

        transition: color 0.2s ease;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }

  @media (max-width: bp.$bp-md) {
    flex-direction: column;
    margin-top: var(--space-sm);

    &__info {
      &-description {
        margin-bottom: var(--space-lg);
      }

      &-wave-form {
        margin: var(--space-lg) 0;
      }
    }
  }
}
