<div class="track-page">
  <div class="track-page__info">
    @if (trackResource.value(); as track) {
      <img [src]="track.image" [alt]="track.name" />
      @if (!isMobile()) {
        <app-play-button [playing]="isCurrentTrackPlaying()" (playToggle)="onPlayClick(track)" />
      }
      <h1>{{ track.name }}</h1>
      <p>{{ track.artist_name }}</p>
      <p>{{ track.album_name }}</p>
      <p>{{ track.releasedate | date }}</p>
      <p>{{ track.duration | duration }}</p>
      <app-dropdown-menu [items]="menuItems()"></app-dropdown-menu>
      @if (isMobile()) {
        <app-controls-bar
          [isPlaying]="isActive()"
          [isShuffle]="isShuffle()"
          [repeatMode]="repeatMode()"
          (playToggle)="onPlayClick(track)"
          (prev)="onPrev()"
          (next)="onNext()"
          (shuffleToggle)="onShuffleToggle()"
          (repeatToggle)="onRepeatToggle()"
        ></app-controls-bar>
      }

      <div class="track-page__info-wave-form">
        <app-wave-form [waveform]="track.waveform"></app-wave-form>
      </div>
    }
  </div>
  <div class="track-page__queue">
    <h3>Up next</h3>
    @if (hasMoreQueue()) {
      <button (click)="toggleQueue()">
        {{ showAllQueue() ? 'Show less' : 'Shaw all' }}
      </button>
    }
    @for (track of visibleQueue(); track track.id) {
      <app-track
        [track]="track"
        [meta]="['artist']"
        [position]="$index + 1"
        (playTrack)="onTrackPlay(track)"
      />
    }
  </div>
</div>
