.search {
  &__title {
    &-query {
      font-style: italic;
    }
  }

  &__items {
    &-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 936px;
      margin-bottom: 1rem;
    }
  }
}
