.player {
  z-index: 100;

  position: sticky;
  bottom: var(--space-md);
  right: 0;

  &__bar {
    display: flex;
    flex-direction: row;

    padding: var(--space-md);

    background: color-mix(in srgb, var(--color-player-background) 60%, transparent);
    border: 1px solid color-mix(in srgb, var(--color-white) 10%, transparent);
    backdrop-filter: blur(12px);
    border-radius: var(--space-gutter);

    height: 100%;
    overflow: hidden;
    width: 100%;

    &--active {
      box-shadow: 0px 0px 15px color-mix(in srgb, var(--color-secondary) 30%, transparent);
    }
  }

  &__player {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: var(--space-gutter);

    width: 100%;
  }

  &__info {
    overflow: hidden;
  }

  &__info-card {
    display: flex;
    gap: var(--space-md);
  }

  &__controls-bar {
    display: flex;
    align-items: center;
    gap: var(--space-md);
  }

  &__meta {
    justify-self: self-end;
  }
}
