<section class="player">
  <div class="player__bar">
    <div class="player__player" [class.player-bar__bar--active]="isActive()">
      <div class="player__info">
        <div class="player__info-card">
          <div class="player__cover-container">
            <img src="./images/track-cover.png" alt="Track cover" class="player__cover" />
          </div>
          <div class="player__description">
            <app-meta [title]="title()" [primaryDesc]="primaryDesc()"></app-meta>
          </div>
        </div>
      </div>

      <div class="player__controls-bar">
        <app-control-button icon="heart" [active]="isFavorite()" (click)="toggleFavorite()" />
        <app-controls-bar (playToggle)="onPlayToggle($event)"></app-controls-bar>
      </div>

      <div class="player__meta">
        <app-volume></app-volume>
      </div>
    </div>
  </div>
</section>
