<header class="header">
  <div class="header__search">
    <p-iconfield>
      <p-inputicon class="pi pi-search"></p-inputicon>
      <input
        pInputText
        pSize="small"
        type="text"
        placeholder="Search artists, songs..."
        name="SearchBar"
        class="header__search-input"
      />
    </p-iconfield>
  </div>

  <div class="header__actions">
    <app-control-button class="header__actions-btn" icon="bell" ariaLabel="Notifications" />

    <a [routerLink]="APP_ROUTES.SETTINGS.route" class="header__actions-btn" aria-label="Settings">
      <svg [lucideIcon]="ICONS.settings.icon" [size]="20"></svg>
    </a>

    <app-user-avatar
      class="header__actions-btn"
      [avatarUrl]="avatarUrl()"
      [link]="profileLink"
      ariaLabel="User profile"
    />
  </div>
</header>
