@use 'styles/breakpoints' as styles;

.track-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 936px;
  margin-bottom: var(--space-xs);
  padding: var(--space-md);
  border-bottom: 1px solid rgb(255 255 255 / 5%);

  &__details {
    flex: 1;
    min-width: 0;
  }

  &__meta {
    display: flex;
    column-gap: var(--space-container);
    align-items: center;
  }

  @media (max-width: styles.$bp-sm) {
    max-width: 170px;
    padding: var(--space-xs);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: var(--radius-default);

    background-color: rgb(207 194 215 / 10%);
    backdrop-filter: blur(20px);

    &__meta {
      display: none;
    }
  }
}
