.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;

  // &--fluid {
  //  width: 100%;
  // }

  &__label {
    font-size: var(--text-label);
    font-weight: var(--weight-bold);
    color: var(--color-outline);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  &__input {
    width: 100%;
  }

  &__error {
    display: block;
    min-height: var(--space-lg);
    font-size: var(--text-label);
    color: var(--color-error);
  }
}
