@use 'app/shared/styles/breakpoints' as *;

.itemDetails {
  display: flex;
  gap: 18px;
  align-items: center;

  &__image {
    object-fit: cover;

    &-rounded {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    &-square {
      width: 54px;
      height: 54px;
      border-radius: var(--radius-default);
    }
    &-squareXl {
      width: 80px;
      height: 80px;
      border-radius: var(--radius-default);
    }
  }

  &__title {
    font-size: var(--text-body-md);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-normal {
      font-weight: var(--weight-regular);
    }

    &-bold {
      font-weight: var(--weight-bold);
    }
  }

  &__textBlock {
    overflow-x: hidden;
  }

  &__description {
    font-size: var(--text-body-sm);
    color: var(--color-on-surface-variant);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__secondaryDesc {
    &::before {
      content: '·';
      margin: 0 var(--space-sm);
      color: #999;
    }
  }

  @media (max-width: $bp-sm) {
    &__description {
      font-size: var(--text-label);
    }
  }
}
