<div class="track-cards">
  @if (title()) {
    <h2 class="track-cards__title">{{ title() }}</h2>
  }
  <div class="track-cards__content">
    @for (track of tracks(); track track.id) {
      <div class="track-cards__content-card">
        <app-cover-card [backgroundImage]="track.album_image">
          <h3 class="track-cards__content-card__title">{{ track.name }}</h3>
          <div class="track-cards__content-card__description">
            <span>{{ track.artist_name }}</span> ·
            <app-track-duration [trackDuration]="track.duration"></app-track-duration>
          </div>
        </app-cover-card>
      </div>
    }
  </div>
</div>
