.app-layout {
  display: grid;
  grid-template-columns: 16.5rem 1fr;
  grid-template-rows: 1fr;
  height: 100vh;

  &__sidebar {
    overflow: hidden auto;
    grid-row: 1 / -1;
  }

  &__content {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__main {
    position: relative;
    overflow: hidden auto;
    padding: 0 var(--space-xl);
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color-mix(in srgb, var(--color-surface), transparent);
  backdrop-filter: blur(4px);
}

.modal-container {
  width: 100%;
  max-width: 28rem;
  padding: var(--space-md);
}
