@use 'styles/breakpoints' as bp;

.app-layout {
  display: grid;
  grid-template-columns: 16.5rem 1fr;
  grid-template-rows: 1fr;
  height: 100vh;

  &__sidebar {
    overflow: hidden auto;
    grid-row: 1 / -1;
  }

  &__content {
    overflow: clip;
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 100%;
    min-height: 0;
  }

  &__main {
    position: relative;
    overflow: hidden auto;
    min-height: 0;
    padding: 0 var(--space-xl);

    @media (max-width: bp.$bp-md) {
      padding: 0 var(--space-sm) var(--bottom-nav-height);
    }
  }

  @media (max-width: bp.$bp-lg) {
    grid-template-columns: var(--sidebar-width-collapsed) 1fr;
  }

  @media (max-width: bp.$bp-md) {
    grid-template-columns: 1fr;

    &__content {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color-mix(in srgb, var(--color-surface), transparent);
  backdrop-filter: blur(4px);
}

.modal-container {
  width: 100%;
  max-width: 28rem;
  padding: var(--space-md);
}
