.track {
  display: grid;
  grid-template-columns: 2.5rem 1fr auto auto;
  gap: var(--space-md);
  align-items: center;

  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-default);

  transition: background-color 0.2s ease;

  &__position {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
  }

  &__num {
    font-size: var(--text-body-sm);
    color: var(--color-outline);
    transition: opacity 0.15s ease;
  }

  &__play-btn {
    cursor: pointer;

    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    color: var(--color-on-surface);

    opacity: 0;
    background: none;

    transition: opacity 0.15s ease;
  }

  &__image {
    border-radius: var(--radius-sm);
    object-fit: cover;

    // height: 2.5rem;
    // width: 2.5rem;
  }

  &__content {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--space-xs);

    min-width: 0;
  }

  &__name {
    overflow: hidden;

    font-size: var(--text-body-sm);
    font-weight: var(--weight-medium);
    color: var(--color-on-surface);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__meta {
    display: flex;
    gap: var(--space-sm);
  }

  &__meta-item {
    font-size: var(--text-label);
    color: var(--color-outline);
    transition: color 0.15s ease;

    &:hover:any-link {
      color: var(--color-on-surface);
      text-decoration: underline;
    }
  }

  &__meta-dot {
    font-size: var(--text-label);
    color: var(--color-primary);
  }

  &__plays,
  &__duration {
    font-size: var(--text-body-sm);
    color: var(--color-outline);
    text-align: right;
  }

  &__plays {
    min-width: 4rem;
  }

  &__duration {
    min-width: 3rem;
  }

  &-skeleton {
    margin-bottom: var(--space-md);
    border: 1px solid var(--color-tertiary-container);
    border-radius: var(--radius-default);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-surface-container);

      .track__num {
        opacity: 0;
      }

      .track__play-btn {
        color: var(--color-on-surface);
        opacity: 1;
      }
    }
  }
}
