.about-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  height: 100%;

  &__team-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 290px), 1fr));
    gap: var(--space-md);
  }

  &__banner {
    padding: var(--space-xxl);
    border-radius: var(--radius-md);

    font-size: var(--text-headline-md);
    text-align: center;

    background: linear-gradient(
      135deg,
      var(--color-primary-container) 30%,
      var(--color-secondary-container) 70%
    );
    background-size: 200% 200%;

    animation: background-shimmer 6s ease-in-out infinite;
  }

  @keyframes background-shimmer {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  &__description {
    &-text {
      margin-bottom: var(--space-md);

      &:last-of-type {
        margin-bottom: 0;
      }

      &--highlight {
        font-weight: 600;
        color: var(--color-secondary);
      }
    }

    &-link {
      color: var(--color-primary);

      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &__footer {
    display: flex;
    gap: var(--space-md);
    align-items: center;
    justify-content: center;

    margin-top: auto;
    padding: var(--space-md);
  }

  &__copyright {
    font-size: var(--text-label);
  }

  &__rsschool {
    --size: 32px;

    width: var(--size);
    height: var(--size);
  }
}
