<aside class="sidebar">
  <div class="sidebar__logo">
    <div class="sidebar__logo-icon">
      <img [ngSrc]="'/images/mf_logo.webp'" width="40" height="40" alt="music flow logo" />
      <span class="sidebar__logo-title">{{ title | titlecase }}</span>
    </div>
    <span class="sidebar__logo-subtitle">{{ subtitle | titlecase }}</span>
  </div>

  <nav class="sidebar__nav">
    @for (item of mainNavItems; track item.route) {
      <app-nav-item [item]="item" />
    }

    @if (auth.hasToken()) {
      <app-nav-item [item]="libraryNavItem" />
    }

    @let contextItems = contextNavItems();
    @if (contextItems.length > 0) {
      <div class="sidebar__context-nav">
        <p-divider class="sidebar__divider" />
        @for (item of contextItems; track item.route) {
          <app-nav-item [item]="item" />
        }
      </div>
    }

    <app-nav-item class="sidebar__player-tab" [item]="playerNavItem" />
  </nav>

  <div class="sidebar__footer">
    <p-divider />
    <app-nav-item [item]="aboutNavItem" />
  </div>
</aside>
