.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  width: var(--sidebar-width-default);
  height: 100%;
  padding: var(--space-lg);
  border-right: 1px solid var(--color-surface-highest);

  background: var(--color-surface-lowest);

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: var(--space-sm) var(--space-md);

    &-title {
      font-family: var(--font-display), serif;
      font-size: var(--text-headline-md);
      font-weight: var(--weight-bold);
      line-height: var(--leading-headline-md);
      color: var(--color-primary);
    }

    &-subtitle {
      font-family: var(--font-body), serif;
      font-size: var(--text-label);
      font-weight: var(--weight-medium);
      color: var(--color-outline);
      letter-spacing: 0.05em;
    }
  }

  &__nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-xs);
  }

  :host ::ng-deep &__divider.p-divider {
    margin: var(--space-sm) 0;
    border-color: var(--color-outline-variant);
  }
}
