<section class="home-page">
  <div home-page__trending>
    @if (trendingTracksResource.isLoading()) {
      <p-skeleton width="30rem" height="2rem"></p-skeleton>
      <div class="home-page__trending-skeleton">
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
      </div>
    } @else if (trendingTracksResource.error(); as error) {
      <app-error [message]="error.message" (retry)="trendingTracksResource.reload()" />
    } @else {
      <app-track-cards [title]="'Trending Now'" [tracks]="trendingTracks()" />
    }
  </div>

  <div home-page__genres>
    <app-genres [genres]="genres()" (genreSelected)="searchByGenre($event)"></app-genres>
  </div>

  <div home-page__new-relases>
    @if (newReleasesResource.isLoading()) {
      <p-skeleton width="30rem" height="2rem"></p-skeleton>
      <div class="home-page__trending-skeleton">
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
        <p-skeleton width="25rem" height="14rem" borderRadius="16px"></p-skeleton>
      </div>
    } @else if (newReleasesResource.error(); as error) {
      <app-error [message]="error.message" (retry)="newReleasesResource.reload()" />
    } @else {
      <app-track-cards [title]="'Release Radar'" [tracks]="newReleases()" />
    }
  </div>

  @if (isAuthenticated()) {
    <div class="home-page__recently-played">
      @if (recentTracksResource.isLoading()) {
        <div class="home-page__recently-played__skeleton">
          <p-skeleton width="30rem" height="2rem"></p-skeleton>
          <app-track-card-skeleton></app-track-card-skeleton>
          <app-track-card-skeleton></app-track-card-skeleton>
          <app-track-card-skeleton></app-track-card-skeleton>
        </div>
      } @else if (recentTracksResource.error(); as error) {
        <app-error [message]="error.message" (retry)="recentTracksResource.reload()" />
      } @else {
        <h2 class="home-page__recently-played__title">Recently Played</h2>

        @for (track of recentTracks(); track track.id) {
          <app-track
            [track]="toTrack(track)"
            [meta]="['artist']"
            [position]="$index + 1"
            (playTrack)="onTrackPlay(track)"
          />
        }
      }
    </div>
  }
</section>
