<section class="home-page">
  <div class="home-page__trending">
    <app-track-cards [title]="'Trending Now'" [tracks]="trendingTracks()" />
  </div>
  <div class="home-page__new-relases">
    <app-track-cards [title]="'Release Radar'" [tracks]="newReleases()" />
  </div>
  <div class="home-page__genres">
    <app-genres [genres]="genres()"></app-genres>
  </div>
  <div class="home-page__recently-played">
    @if (isLoading()) {
      <div class="home-page__recently-played__skeleton">
        <p-skeleton width="10rem" class="mb-2"></p-skeleton>
        <p-skeleton height="5rem" class="mb-2"></p-skeleton>
        <p-skeleton height="5rem" class="mb-2"></p-skeleton>
        <p-skeleton height="5rem" class="mb-2"></p-skeleton>
      </div>
    } @else {
      <app-recently-played [tracks]="recentTracks()" />
    }
  </div>
</section>
