@let playlist = data();

<div class="playlist-card">
  <div class="playlist-card__title">
    {{ playlist.name }}
  </div>
  <div class="playlist-card__meta">
    <div class="playlist-card__track-count">
      @let count = playlist.tracks.length;

      {{ count }} {{ count === 1 ? 'track' : 'tracks' }}
    </div>

    <span class="playlist-card__meta-dot" aria-hidden="true">•</span>

    <div class="playlist-card__duration">
      {{ playlist.duration | duration: 'total' }}
    </div>
  </div>
</div>
